header{
   border-bottom: 2px solid #f37021; 
}
.headerTop{
      background-color: var(--color-header);
}
.contentHeader{
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.contentHeader .monedaIdioma{
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
}
.contentHeader .monedaIdioma .itemMonedaIdioma{
      padding:5px;
}
.contentHeader .monedaIdioma .itemMonedaIdioma:first-child{
      position: relative;
}
.contentHeader .monedaIdioma .itemMonedaIdioma:first-child:after{
      position: absolute;
      content: '';
      top: 14px;
      right: 0;
      height: 18px;
      background: #535353;
      width: 1px;
      margin-right: 4px;
}

.itemMonedaIdioma .dropdown-toggle{
      background-color: black;
      color: #fff; 
}
.itemMonedaIdioma .dropdown ul li:first-child{
      border-bottom: 1px solid black;
}
.itemMonedaIdioma .dropdown .monedaItem{
     cursor: pointer;
   
     text-align: center;
}
.itemMonedaIdioma .dropdown .monedaItem:hover{
      background-color: var(--color-naranja);
}
.itemMonedaIdioma .dropdown-menu.show{
      min-width: 5rem;
      width: 100%;
      padding:0;
}