 :root{
   --color-header: #000;
   --color-text: #565656;
   --color-naranja: #f37021;
 }
 @import url("./styles/header.css");
 @import url("./styles/Menu.css");
 @import url("./styles/home.css");

.promocion{
  margin: 40px 0;
  padding:40px 0;
  text-align: center;
}